
@media (min-width: 768px) {
    .header_background_plant {
        background-image: url("../../public/img/background/ponthos-on-side.webp");
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 8rem;
        padding-bottom: 2rem;
    }
}

@media (min-width: 0px) and (max-width: 768px) {
    .header_background_plant {
        padding-top: 15rem;
        background-color: #079365;
        padding-bottom: 10rem;
    }
}

.header_divider_color {
    background-color: #343a40;
}


@media (min-width: 0px) and (max-width: 768px) {
    .header_text_color {
        color: #ffffff;
    }

    .header_divider_color {
        background-color: #ffffff;
    }
}

.mastheadHeading {
    font-size: 4rem;
    font-weight: bold;
    line-height: 3.5rem;
    color: #343a40;
}

.masthead_subheading {
    font-size: 1.5rem;
    color: #343a40;
}
@media (min-width: 0px) and (max-width: 768px) {
    .mastheadHeading {
        font-size: 2.75rem;
        line-height: 2.75rem;
        color: #ffffff;
    }

    .masthead_subheading {
        font-size: 1.25rem;
        color: #ffffff;
    }
}

.masthead {
    /*padding_top: calc(6rem + 50px);*/
    /*padding_bottom:6rem*/
}

.header_background_plant hr {
    width: 15%;
    height: 5px;
    border: none;
    border-radius: 1.5rem;
    opacity: 100;
    background-color: #343a40;
    margin-bottom: 30px;
}
