@font-face {
  font-family: 'BlossmFont';
  src: url('/font/SF-Pro-Rounded-Medium.ttf')  format('truetype');
  font-display: swap;
}

html, body, h1, h2, h3, h4, h5, h6, li  {
  font-family: BlossmFont, sans-serif;
}

body {
  margin: 0;
}

.test_font {
  font-family: BlossmFont;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.blossm_primary_color {
  background-color: #034638;
}

.blossm_secondary_color {
  background-color: #079365;
}
